<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialiser le Mot de Passe</title>
</head>
<body>
    <div class="container">
        <h1>Réinitialiser le Mot de Passe</h1>
        <form id="reset-password-form" action="/reset-password" method="post">
            <input type="hidden" id="token" name="token" value="{{.Token}}" />
            <label for="password">Nouveau mot de passe :</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Réinitialiser le mot de passe</button>
        </form>
    </div>
</body>
</html>